root = true

[*.config.js]
indent_style = tab
indent_size = 4
insert_final_newline = false

[{src/**.js, test/**.js}]
indent_style = space
indent_size = 2
insert_final_newline = true

[*{rc, json, config}]
indent_style = tab
indent_size = 4
insert_final_newline = false

[*.md]
indent_size = 2